.cntner-fld{
  margin-top: 5px !important;
}
.top-logo-bar{ margin-top: 7px;}

.left-logo-div{
  padding: 4px 4px 6px 8px;
  margin-right: 5px;
  border-bottom: 4px solid #3571bd;
  background: url(../assets/banner1.jpg);
  background-color: #428bca;
  margin-left: -5px !important;
}
.left-logo-div img{ height: 66px;width: 480px;}
.right-logo-div{
  background: url(../assets/banner1.jpg);
  background-color: #428bca;
}
.bottom-bar .col-md-6,.bottom-bar .col-md-1 {
  background: url(../assets/banner1.jpg);
  background-color: #428bca;
  padding: 5px;
  min-height: 40px;
  font: 18px bold;
  color: white;
}
.bottom-bar .col-md-6:nth-child(2) {
  padding-top: 10px;
}
.bottom-bar .col-md-6 {
  width:49.5% !important;
  margin-right: 5px;
}

.bottom-img-div img{
  height: 160px;
}
.mplogo-cls{
  height: 81px;
  margin-left: -15px;
  padding: 5px 5px 8px;
  width: 97px;
}
.cm-img-box{
  height: 185px;
  margin-left: 200px;
  margin-top: 50px;
  width: 250px;
}
.bdr{
  border-bottom: 1px solid lightgray;
}

.sbmt-btn-padding{
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.mrgn-right{
  margin-right: 10px;
}

